.main-image {
  background-image: url('assets/crypto-euro.png');
  background-position: center top -100px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  top: -50px;
}

.btn-action {
  width: 150px;
  padding: 15px;
  margin: 15px;
}

.title-block {
  margin-top: 50px;
  min-height: 175px;
  color: white;
}

.buttons-block {
  margin-top: 100px;
}
